*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #9b9b9b;
    list-style: none;
    font-family: 'Noto Sans KR', sans-serif;

}
@font-face {
    font-family: abster;
    src: url("font/abster-webfont.woff") format("woff");
}


.container {
    width: 100%;
    /*height: 100vh;*/
    background: linear-gradient(rgb(0, 0, 0, 0.8),  rgb(0, 0, 0, 0.4)), url("img/power.jpg")fixed;
    /*background-repeat:no-repeat;*/
    background-size: cover;
    position: relative;
    /*min-height: 100vh;*/
}

.container .header{
    /*width: 80%;*/
    width: 1280px;
    height: 80px;
    /*background-color: #00ff21;*/
    margin:0 auto;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .header h1{
    margin-top: 15px;

    padding-left: 30px;
}




.container .header h1 a{

    color: white;
    /*background-color: #b45252;*/
    font-family: abster;
}
.container .sreach{
    /*background-color: #485eb9;*/
    color: white;


}
#srch {
    margin-top: 30px;
    width: 250px; /* 원하는 너비로 조정 */
    height: 30px; /* 원하는 높이로 조정 */
    padding: 5px; /* 내부 여백(padding)을 추가하여 내용이 깔끔하게 보이도록 조정할 수 있습니다. */
    font-size: 16px; /* 원하는 글자 크기로 조정 */
    border: none;
    border-radius: 7px;
    background: rgba(213, 189, 189, 0.3);

}
header{
    width: 95%;
    height: 100px;
    background-color: #1e1515;
    padding: 0;
    margin: 0;
    position: fixed;
    transition: top 0.4s;
}
.header h1{
    position: relative;
    left: 100px;
    top: 25px;
}
.sreach{
    position: relative;
    left: 150px;
}
.minNav{
    position: relative;
    left: 170px;
    top: 15px;
}

.container .minNav ul li {
    display: inline-block;
    margin: 0 10px;
    /*background-color: red;*/
    border-left: 3px solid #a29b9b;
    padding-right: 7px;
    padding-left: 4px;
}
.container .minNav ul li a{
    color: #ffffff;
}
.container .minNav ul li a:hover{
    color: #07a693;
}

.nav {
    width: 2000px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background: linear-gradient(rgba(224, 216, 216, 0.01), rgb(10, 0, 0), rgba(229, 197, 197, 0.01));
    position: relative;  /* 고정 위치로 설정 */
    top: 45px;        /* 화면 하단에 고정 */
    /*left: 50%;        !* 화면 가로 중앙에 위치하도록 설정 *!*/
    /*transform: translateX(10%);  !* 정확한 중앙 정렬을 위한 변환 *!*/
    z-index: 2;
}


.bar{
    width: 1200px;
    /*height: 80px;*/
}

.nav ul li{
    display: inline-block;
    /*margin: 0 10px;*/
    margin-left: 20%;
    /*width: 3000px;*/
    /*padding-left: 200px;*/
    text-align: center;
    /*background-color: #b77b7b;*/

}

.nav ul li a{
    /*display: inline-block;*/
    font-size: 20px;
    font-weight: 600;
    color: #f8f6f6;
}
.nav ul li a:hover {
    /*font-size: 70px;*/
    font-weight: 900;
    color: #2ad2b8;
}

/*.slide_gallery{*/
/*!*#gallery_wrap{*!*/
/*!*.screen{*!*/
/*    width: 80%;*/
/*    height: 640px;*/
/*    !*background-color: #a49c73;*!*/
/*    margin:0 auto;*/
/*    !*display: flex;*!*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    text-align: center;*/
/*    line-height: 400px;*/
/*}*/

.screen{
    width: 1280px;
    display: flex;
    margin-left: 10%;
    position: relative;
    left: 200px;
}

#gallery_wrap{
    margin: 30px auto;
    /*margin-left: 10%;*/
    width: 640px;
}
#article {
    margin-top: 40px;
    margin-right: 10%;
    text-align: justify;
    line-height: 40px;
    width: 400px;

}
#article h1 {
    color: white;
}

#article p{
    color: white;
}





.apeal{
    /*width: 80%;*/
    width: 1280px;
    height: 2400px;
    /*background-color: #e9e7ea;*/
    margin:0 auto;
    margin-left: 10%;
    position: relative;

}

.box1{
    height: 600px;
    /*border: 3px solid black;*/
    border-radius: 20px;
    margin-bottom: 20px;
    background-color: rgb(0,0,0,0.5);
    position: relative;
    left: 140px;
}

.box1 h1 {
    color: #c73636;
    font-size: 70px;
    width: 350px;
    font-family: Geneva;
    position: absolute;
    top: 100px;
    left: 400px;
    /*animation: slide 2s;*/
    animation: disap 3s forwards;


}
@keyframes slide {
    from{
        left: -100px;
        opacity: 0;
    }
    to{
        left: 400px;
        opacity: 1;
    }
}

@keyframes disap {
    from {
        left: 400px;
        opacity: 1;
    }
    to {
        left: -100px;
        opacity: 0;
    }

}

.box2{
    height: 700px;
    /*border: 3px solid black;*/
    background-color: rgb(0,0,0,0.5);
    border-radius: 20px;
    padding-top: 10px;
    position: relative;
    left: 140px;
}

.box3{

    height: 1000px;
    /*border: 3px solid black;*/
    background-color: rgba(14, 13, 13, 0.9);
    border-radius: 20px;
    padding-top: 10px;
    margin-top: 10px;
    position: relative;
    left: 140px;

}





/*.footer{*/
/*    position: fixed;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*    height: 50px;*/
/*    background-color: rgb(0,0,0,0.6);*/
/*    line-height: 50px;*/

/*}*/
/*.footer p{*/
/*    font-size: 25px;*/
/*    color: #ffffff;*/
/*    text-align: right;*/
/*}*/
.chatbot{
    position: fixed;
    bottom: 100px;
    right: 50px;
    width: 50px;
    height: 50px;
    background-color: #00ff21;
    color: #0e0d0d;
}
#bot{
    color: #0e0d0d;

    width: 50px;
    height: 50px;
    background-color: #0d34dc;
}




.private{
    height: 400px
;
}

#chat-container {
    width: 900px;
    margin: 50px auto;
    border: 1px solid #ccc;
    /*padding: 10px;*/
    height: 500px;
    background-color: rgb(0,0,0,0.5);
    /*margin-right: 50px;*/
    /*margin-bottom: 100px;*/
    overflow-y: scroll;
}
#input-container {
    width: 1000px;
    height: 50px;
    margin: 10px auto;
    margin-left: 350px;
    /*margin-bottom: 50px;*/
}
#user-input{
    height: 50px;
    width: 500px;
}
#send-btn{
    margin: 0;
    height: 50px;
    width: 100px;
}


table {
    border-collapse: collapse;
    width: 50%;
    margin: 20px auto;
    table-layout: fixed; /* 열의 크기를 고정합니다. */
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    overflow: hidden; /* 내용이 넘치는 경우 가리기 처리 */
    white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
}

th {
    background-color: #f2f2f2;
}

canvas {
    margin: 20px auto;
    display: block; /* 추가: canvas를 block 요소로 설정 */
}

/* 추가: 빨간색, 파란색 스타일 */
.up {
    color: red;
}

.down {
    color: blue;
}



#footerWrap{
    /*width: 2000px;*/
    width: 100%;
    height: 530px;
    background-color: black;
    /*position: relative;*/
    /*top: 3000px;*/
    position: absolute;
}
.notice{
    text-align: left;
    margin: 0 68px 0 74px;
    width: 831px;
    height: 28px;
}
.notice h3{
    position: relative;
    top: 50px;
    left: 40px;
    color: white;

}
.footInfo{
    position: relative;
    top: 80px;
    display: flex;
    left: 85px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin: 0;
    padding: 20px;
    width: 1700px;
}
.footInfo li a{
    margin-left: 15px;
    color: white;

}
.footInfo li a:visited{
    color: white;
}
.foot{
    position: relative;
    top: 100px;
    left: 80px;
    border-bottom: 1px solid white;
    width: 1730px;
    padding: 10px;
    margin: 0;
}
.foot img{
    margin-left: 20px;
}
.sns{
    position: relative;

}
.sns dt{
    color: black;
    background-color: white;
    width: 130px;
    height: 27px;
    text-align: center;
    padding: 10px;
    border-radius: 30px;
    /*position: relative;*/
    /*right: 30px;*/
    /*top: -50px;*/
}

.sns a{
    margin-left: 100px;
    /*background-color: white;*/
    position: relative;
    left: 80px;
    top: -35px;
}
.sns img{
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
}
.csCenter{
    color: white;
}
.csCenter dt{
    background-color: white;
    color: black;
    width: 130px;
    height: 27px;
    text-align: center;
    padding: 10px;
    border-radius: 30px;

}
.csCenter dd{
    color: white;
    font-size: 15px;
    position: relative;
    top: -30px;
    left: 160px;
}
.csCenter strong{
    color: white;
}
.csCenter span{
    color: white;
    font-size: 13px ;
    position: relative;
    top: -53px;
    left: 300px;
}


